.contadorRegressivo{
    font-size: 200%;
    height: 10%;
    width: 5%;
    background-color: black;
    color: white;
    margin: 8px;
    align-items: center;
    text-align: center;
}
.contadorLegenda{
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 57px;
    height: 20px;
    align-items: left;
    text-align: center;
}

#countdown_dashboard .dashp { 
    border:1px solid #9e9e9e; 
    float:left; 
    margin: 10px; 
    width:80px; 
    height: 80px; 
    padding:10px;  
    border-radius: 15px; 
}
#countdown_dashboard p { 
    font-size:230%; 
    font-weight:bold; 
    color:#4EAEE0; 
    margin: 0px; 
    text-align: left; 
}
#countdown_dashboard .dashtitle { 
    font-size:11px; 
    color:black; 
    clear:both; 
    display:flex; 
}
body{
    background-color: white;
}