html, body{
    background-color:#ffe5ed;;
}
h1, h3{
    font-family: cursive;
}
.container-fluid{
    padding: 0px!important;
    margin: 0px!important;
}
.contadorRegressivo{
    font-size: 200%;
    height: 10%;
    width: 5%;
    background-color: black;
    color: white;
    margin: 8px;
    align-items: center;
    text-align: center;
}
.contadorLegenda{
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 57px;
    height: 20px;
    align-items: left;
    text-align: center;
}

#countdown_dashboard .dashp { 
    border:1px solid black; 
    float:left; 
    margin: 10px; 
    width:80px; 
    height: 80px; 
    padding:10px;  
    border-radius: 15px; 
}
#countdown_dashboard p { 
    font-size:230%; 
    font-weight:bold; 
    color:rgb(24, 24, 24); 
    margin: 0px; 
    text-align: left; 
}
#countdown_dashboard .dashtitle { 
    font-size:11px; 
    color:black; 
    clear:both; 
    display:flex; 
}
.paisagem{
    background: url("./images/background3.jpg") no-repeat center center fixed;
    height: 100%;
    min-height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}